.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
agents_fixture.js
.idea/*
.sass-cache
.rbenv-gemsets
*tags
gems.tags
twilio.yml
pusher.yml
wopr.yml
call_centers.yml
vendor/bundle/*
projectFilesBackup
.DS_Store
.jhw-cache
sms_whitelist.json
