<button class="answer <%= device.uiShowAnswerButton() %>" <%= device.uiDisableAnswerButton() %> >
  <span class="text">Answer</span>
  <span class="icon-phone"></span>
</button>

<button class="hangup <%= device.uiShowHangupButton() %>" <%= device.uiDisableHangupButton() %> >
  <span class="text">Hangup</span>
  <span class="icon-cancel-circle"></span>
</button>

