---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/xxx/events?auth_key=xxx&auth_signature=2e2afa8b3ce316a728f9b8ba1242df62d62e11ebef079ed31227208af3c64af9&auth_timestamp=1360880253&auth_version=1.0&body_md5=ebea964e365e484e8977b50c6b780bb1
    body:
      encoding: US-ASCII
      string: ! '{"name":"InitializeWidget","channels":["csrs-4"],"data":"{}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: US-ASCII
      string: ! '{}'
  recorded_at: Thu, 14 Feb 2013 22:17:33 GMT
- request:
    method: post
    uri: http://api.pusherapp.com/apps/xxx/events?auth_key=xxx&auth_signature=ba7102e6399ef8a4501fb822dc8679e0463b553d048ec26839f3fffcb1b14ea7&auth_timestamp=1360880253&auth_version=1.0&body_md5=c8a9810c99c84223b37afb63aa828f8e
    body:
      encoding: US-ASCII
      string: ! '{"name":"statusChange","channels":["csrs-4"],"data":"{\"status\":\"available\",\"timestamp\":1360880253758}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: US-ASCII
      string: ! '{}'
  recorded_at: Thu, 14 Feb 2013 22:17:33 GMT
- request:
    method: post
    uri: http://api.pusherapp.com/apps/xxx/events?auth_key=xxx&auth_signature=29a73eb90b2c0783510c1886f6ce75cddcc2c35e8b2f47f8213987e5155287b2&auth_timestamp=1365025795&auth_version=1.0&body_md5=31bc4c0772289e01716473b3e7a7d163
    body:
      encoding: US-ASCII
      string: ! '{"name":"statusChange","channels":["csrs-14"],"data":"{\"status\":\"available\",\"timestamp\":1365025795542}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: US-ASCII
      string: ! '{}'
  recorded_at: Wed, 03 Apr 2013 21:49:55 GMT
recorded_with: VCR 2.0.0
