<!DOCTYPE html>
<html>
<head>
  <title>Telephony</title>
  <%= stylesheet_link_tag    "telephony/application", :media => "all" %>
  <%= javascript_include_tag "telephony/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
